.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  background-image: var(--hero-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
