.page {
  --nav-height: 66px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
}

.header {
  position: relative;
  padding-top: var(--nav-height);
}

.headerInline {
  padding-top: var(--nav-height);
  background-color: var(--color-background);
}

.ctaWrap {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.main {
  width: 100%;
  padding: 1.1rem;
  scroll-margin-top: calc(var(--nav-height) + 0.8rem);
  color: var(--color-text);
  background-color: var(--color-background);
}

.footer {
  padding: 0 1.1rem 1.2rem;
  background-color: var(--color-background);
}

.backLink {
  color: var(--color-primary);
  font-weight: 500;
}

@media (width >= 900px) {
  .page {
    --nav-height: 72px;

    grid-template-rows: auto auto auto;
  }

  .header {
    padding-top: var(--nav-height);
  }

  .headerInline {
    padding-top: var(--nav-height);
  }

  .main,
  .footer {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
