:root {
  --font-family-base: 'Poppins', sans-serif;
  --color-background: #fff;
  --color-text: #404040;
  --color-accent: #efbc7b;
  --color-emphasis: #000;
  --color-surface-start: #121212;
  --color-surface-end: #2c2c2c;
  --color-club-blue: #273583;
  --color-club-red: #e30613;
  --hero-background-image: none;
}

[data-theme='mezczyzni'] {
  --color-primary: #273583;
  --hero-background-image: url('/images/backgrounds/m/m-1.jpg');
}
