.page {
  --nav-height: 66px;
  --header-inline-pad-top: calc(var(--nav-height) + 1rem);
  --header-inline-pad-bottom: 1rem;
  --header-inline-height: calc(var(--header-inline-pad-top) + var(--header-inline-pad-bottom));

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: var(--color-background);
}

.headerInline {
  padding-block: var(--header-inline-pad-top) var(--header-inline-pad-bottom);
  padding-inline: 1.1rem;
  background-color: var(--color-background);
}

.main {
  --section-padding-block: 1.1rem;

  width: 100%;
  padding-block: var(--section-padding-block);
  padding-inline: 1.1rem;
  scroll-margin-top: calc(var(--nav-height) + 0.8rem);
  color: var(--color-text);
  background-color: var(--color-background);
}

.mainInner {
  margin: 0 auto;
  width: 100%;
  max-width: 72rem;
}

@media (width >= 900px) {
  .page {
    --nav-height: 72px;
    --header-inline-pad-top: calc(var(--nav-height) + 1.5rem);
    --header-inline-pad-bottom: 1.25rem;
  }

  .headerInline {
    padding-inline: 1.8rem;
  }

  .main {
    padding-inline: 1.8rem;
  }
}
